<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::.content},~{::title})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Home page </title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{/css/output.css}">
  
    
</head>
<body> 
<!-- Typography Section -->
<div class="content">
<div class="flex flex-col items-center justify-center px-16 md:px-16 xl:px-48 pt-10 md:pt-20">
    <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl self-start w-full">
        <span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Better Data</span> Scalable AI.
    </h1>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400 self-start w-full">
        AI revolutionizes industries by automating tasks, enhancing decision-making, and driving innovation. From healthcare to finance, AI algorithms analyze vast data, predict trends, and optimize processes. This technology empowers businesses, improves efficiency, and creates new opportunities, shaping a smarter, more connected future. Embrace AI for transformative growth and success.
    </p>
   
    <!-- <a href="#" class="inline-flex items-left justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">  Learn more
    </a> -->

</div>



</div>


    <!-- Flowbite CDN -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>
</html>