<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>
</head>

<body>
    <section id="content">

        <div class="min-w-screen min-h-screen bg-gray-900 flex items-center justify-center px-5 py-5 ">
            <div class="bg-gray-100 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden"
                style="max-width:1000px">
                <div class="md:flex w-full">
                    <div class="hidden md:block w-1/2 bg-indigo-500 py-10 px-10">
                        <svg id="a87032b8-5b37-4b7e-a4d9-4dbfbe394641" data-name="Layer 1"
                            xmlns="http://www.w3.org/2000/svg" width="100%" height="auto"
                            viewBox="0 0 744.84799 747.07702">
                            <path id="fa3b9e12-7275-481e-bee9-64fd9595a50d" data-name="Path 1"
                                d="M299.205,705.80851l-6.56-25.872a335.96693,335.96693,0,0,0-35.643-12.788l-.828,12.024-3.358-13.247c-15.021-4.29394-25.24-6.183-25.24-6.183s13.8,52.489,42.754,92.617l33.734,5.926-26.207,3.779a135.92592,135.92592,0,0,0,11.719,12.422c42.115,39.092,89.024,57.028,104.773,40.06s-5.625-62.412-47.74-101.5c-13.056-12.119-29.457-21.844-45.875-29.5Z"
                                transform="translate(-227.576 -76.46149)" fill="#f2f2f2" />
                            <path id="bde08021-c30f-4979-a9d8-cb90b72b5ca2" data-name="Path 2"
                                d="M361.591,677.70647l7.758-25.538a335.93951,335.93951,0,0,0-23.9-29.371l-6.924,9.865,3.972-13.076c-10.641-11.436-18.412-18.335-18.412-18.335s-15.315,52.067-11.275,101.384l25.815,22.51-24.392-10.312a135.91879,135.91879,0,0,0,3.614,16.694c15.846,55.234,46.731,94.835,68.983,88.451s27.446-56.335,11.6-111.569c-4.912-17.123-13.926-33.926-24.023-48.965Z"
                                transform="translate(-227.576 -76.46149)" fill="#f2f2f2" />
                            <path id="b3ac2088-de9b-4f7f-bc99-0ed9705c1a9d" data-name="Path 22"
                                d="M747.327,253.4445h-4.092v-112.1a64.883,64.883,0,0,0-64.883-64.883H440.845a64.883,64.883,0,0,0-64.883,64.883v615a64.883,64.883,0,0,0,64.883,64.883H678.352a64.883,64.883,0,0,0,64.882-64.883v-423.105h4.092Z"
                                transform="translate(-227.576 -76.46149)" fill="#e6e6e6" />
                            <path id="b2715b96-3117-487c-acc0-20904544b5b7" data-name="Path 23"
                                d="M680.97,93.3355h-31a23.02,23.02,0,0,1-21.316,31.714H492.589a23.02,23.02,0,0,1-21.314-31.714H442.319a48.454,48.454,0,0,0-48.454,48.454v614.107a48.454,48.454,0,0,0,48.454,48.454H680.97a48.454,48.454,0,0,0,48.454-48.454h0V141.7885a48.454,48.454,0,0,0-48.454-48.453Z"
                                transform="translate(-227.576 -76.46149)" fill="#fff" />
                            <path id="b06d66ec-6c84-45dd-8c27-1263a6253192" data-name="Path 6"
                                d="M531.234,337.96451a24.437,24.437,0,0,1,12.23-21.174,24.45,24.45,0,1,0,0,42.345A24.43391,24.43391,0,0,1,531.234,337.96451Z"
                                transform="translate(-227.576 -76.46149)" fill="#ccc" />
                            <path id="e73810fe-4cf4-40cc-8c7c-ca544ce30bd4" data-name="Path 7"
                                d="M561.971,337.96451a24.43594,24.43594,0,0,1,12.23-21.174,24.45,24.45,0,1,0,0,42.345A24.43391,24.43391,0,0,1,561.971,337.96451Z"
                                transform="translate(-227.576 -76.46149)" fill="#ccc" />
                            <circle id="a4813fcf-056e-4514-bb8b-e6506f49341f" data-name="Ellipse 1" cx="364.43401"
                                cy="261.50202" r="24.45" fill="#6c63ff" />
                            <path id="bbe451c3-febc-41ba-8083-4c8307a2e73e" data-name="Path 8"
                                d="M632.872,414.3305h-142.5a5.123,5.123,0,0,1-5.117-5.117v-142.5a5.123,5.123,0,0,1,5.117-5.117h142.5a5.123,5.123,0,0,1,5.117,5.117v142.5A5.123,5.123,0,0,1,632.872,414.3305Zm-142.5-150.686a3.073,3.073,0,0,0-3.07,3.07v142.5a3.073,3.073,0,0,0,3.07,3.07h142.5a3.073,3.073,0,0,0,3.07-3.07v-142.5a3.073,3.073,0,0,0-3.07-3.07Z"
                                transform="translate(-227.576 -76.46149)" fill="#ccc" />
                            <rect id="bb28937d-932f-4fdf-befe-f406e51091fe" data-name="Rectangle 1" x="218.56201"
                                y="447.10197" width="218.552" height="2.047" fill="#ccc" />
                            <circle id="fcef55fc-4968-45b2-93bb-1a1080c85fc7" data-name="Ellipse 2" cx="225.46401"
                                cy="427.41999" r="6.902" fill="#6c63ff" />
                            <rect id="ff33d889-4c74-4b91-85ef-b4882cc8fe76" data-name="Rectangle 2" x="218.56201"
                                y="516.11803" width="218.552" height="2.047" fill="#ccc" />
                            <circle id="e8fa0310-b872-4adf-aedd-0c6eda09f3b8" data-name="Ellipse 3" cx="225.46401"
                                cy="496.43702" r="6.902" fill="#6c63ff" />
                            <path id="bbe451c3-febc-41ba-8083-4c8307a2e73e-2" data-name="Path 88"
                                d="M632.872,485.3305h-142.5a5.123,5.123,0,0,1-5.117-5.117v-142.5a5.123,5.123,0,0,1,5.117-5.117h142.5a5.123,5.123,0,0,1,5.117,5.117v142.5A5.123,5.123,0,0,1,632.872,485.3305Zm-142.5-150.686a3.073,3.073,0,0,0-3.07,3.07v142.5a3.073,3.073,0,0,0,3.07,3.07h142.5a3.073,3.073,0,0,0,3.07-3.07v-142.5a3.073,3.073,0,0,0-3.07-3.07Z"
                                transform="translate(-227.576 -76.46149)" fill="#ccc" />
                            <rect id="bb28937d-932f-4fdf-befe-f406e51091fe-2" data-name="Rectangle 1 copy" x="218.56201"
                                y="518.10197" width="218.552" height="2.047" fill="#ccc" />
                            <circle id="fcef55fc-4968-45b2-93bb-1a1080c85fc7-2" data-name="Ellipse 2 copy"
                                cx="225.46401" cy="498.41999" r="6.902" fill="#6c63ff" />
                            <rect id="ff33d889-4c74-4b91-85ef-b4882cc8fe76-2" data-name="Rectangle 2 copy" x="218.56201"
                                y="587.11803" width="218.552" height="2.047" fill="#ccc" />
                            <circle id="e8fa0310-b872-4adf-aedd-0c6eda09f3b8-2" data-name="Ellipse 3 copy"
                                cx="225.46401" cy="567.43702" r="6.902" fill="#6c63ff" />
                        </svg>
                    </div>

                    <div class="w-full md:w-1/2 py-10 px-5 md:px-10 border-t-8 border-indigo-400">
                        <div class="text-center mb-10">
                            <h1 class="font-bold text-3xl text-gray-900">REGISTER</h1>
                            <p>Enter your information to register</p>
                            <div data-th-replace="message::messagebox"></div>
                        </div>
                        <div>
                            <form th:action="@{'/do-register'}" method="post" th:object="${userform}">
                                <div class="flex -mx-3">
                                    <div class="w-1/2 px-3 mb-5">
                                        <label for="first_name" class="text-xs font-semibold px-1">Name</label>
                                        <div class="flex">
                                            <div
                                                class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                                <i class="mdi mdi-account-outline text-gray-400 text-lg"></i>
                                            </div>
                                            <input type="text" id="name" th:field="*{name}"
                                                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500">
                                        </div>
                                    </div>
                                </div>

                                <div class="flex -mx-3">
                                    <div class="w-1/2 px-3 mb-5">
                                        <label for="phone" class="text-xs font-semibold px-1">Phone</label>
                                        <div class="flex">
                                            <div
                                                class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                                <i class="mdi mdi-phone-outline text-gray-400 text-lg"></i>
                                            </div>
                                            <input type="text" id="phone" th:field="*{PhoneNumber}"
                                                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500">
                                        </div>
                                    </div>
                                    <div class="w-1/2 px-3 mb-5">
                                        <label for="email" class="text-xs font-semibold px-1">Email</label>
                                        <div class="flex">
                                            <div
                                                class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                                <i class="mdi mdi-email-outline text-gray-400 text-lg"></i>
                                            </div>
                                            <input type="email" id="email" th:field="*{email}"
                                                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500">
                                        </div>
                                    </div>
                                </div>

                                <div class="flex -mx-3">
                                    <div class="w-full px-3 mb-5">
                                        <label for="password" class="text-xs font-semibold px-1">Password</label>
                                        <div class="flex">
                                            <div
                                                class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                                <i class="mdi mdi-lock-outline text-gray-400 text-lg"></i>
                                            </div>
                                            <input type="password" id="password" th:field="*{password}"
                                                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                                                placeholder="********">
                                        </div>
                                    </div>
                                </div>

                                <div class="flex -mx-3">
                                    <div class="w-full px-3 mb-5">
                                        <label for="description" class="text-xs font-semibold px-1">Write something
                                            about yourself</label>
                                        <div class="flex">
                                            <div
                                                class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                                <i class="mdi mdi-pencil-outline text-gray-400 text-lg"></i>
                                            </div>
                                            <input type="text" id="description" th:field="*{about}"
                                                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                                                placeholder="Write here">
                                        </div>
                                    </div>
                                </div>

                                <div class="flex -mx-3">
                                    <div class="w-full px-3 mb-5">
                                        <button type="submit"
                                            class="block w-full max-w-xs mx-auto bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-500 text-white rounded-lg px-3 py-3 font-semibold">REGISTER
                                            NOW</button>
                                    </div>
                                    <div class="w-full px-3 mb-5">
                                        <button type="reset"
                                            class="block w-full max-w-xs mx-auto bg-orange-500 hover:bg-indigo-700 focus:bg-indigo-500 text-white rounded-lg px-3 py-3 font-semibold">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>

</html>